<html>
	<head>
		<title>Garage's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Garage Blog</a></h1>			
		</div>

		<div>
			<p>published: 08/06/17 12:09</p>
			<h2><a href="">Mi primer post</a></h2>
			<p>Cualquier cosa por el momento, esto es para dar parte de como se presentara la información de la base de datos en este lugar.</p>
		</div>

		<div>
			<p>published: 08/06/17 12:09</p>
			<h2><a href="">Mi segundo post</a></h2>
			<p>Cualquier cosa por el momento, esto es para dar parte de como se presentara la información de la base de datos en este lugar.</p>
		</div>
	</body>
</html>